.drawArea {
    width: 400px;
    height: 400px;
    border: 1px solid black;
    float: left;
    cursor: crosshair;
  }
  
  .path {
    fill: none;
    stroke-width: 5px;
    stroke: green;
    stroke-linejoin: round;
    stroke-linecap: round;
  }
  
  .drawing {
    width: 100%;
    height: 100%;
  }