
.header {
    background: #0e54e0;
    color: #ffffff;
    padding: 12px;
  }
  
  .header a {
    color: #ffffff;
    font-weight: 700;
  }
  
  .header ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: block;
    float: right;
  }
  
  .header li {
    display: inline-block;
    padding: 0 5px;
  }
  