body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  height: 5%;
}

.App {
  margin: 0;
  height: 100vh;
  /* width: 100%; */
}

.three-main-columns {
  display:flex;
  flex-direction:row;
  height: 95%;
}

.CodeMirrorContainer {
  width: 95%;
  margin: auto;
  /* position: absolute; */
}

.OuterContainer {
  margin: 0;
  height: 100%;
  width: 60%;
  /* max- */
  background: #FCEACF;
}

.Transcript {
  background: rgb(77, 77, 77);
  color: white;
  margin: 0;
  width: 20%;
}

/* .scrollableDialogues {

} */

.Resources {
  background: rgb(228, 228, 228);
  width: 20%;
}

#topic-title {
  background: rgb(77, 77, 77);
  color: white;
}

.TogetherJSButton {
  float: right;
  padding: 10px;
  border: none;
  background: #31C28E;
  border-radius: 8px;
  color: white;
  font-weight: bold;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */
